.popup__close-button {
  background-image: url(../../../images/popup_close_button.svg);
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 350px;
  left: 440px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    bottom: 320px;
    left: 281px;
  }
}
