.profile__info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 336px;
  max-height: 73px;
  align-items:baseline;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .profile__info{
    justify-content: start;
  }

}
