.profile__info {
  display: flex;
  max-width: 336px;
  max-height: 73px;
  align-items:baseline;
  justify-content: start;
}

@media screen and (max-width: 768px) {
  .profile__info{
    justify-content: center;
  }
}
